<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GerenciarPerfil</servlet-name>
        <servlet-class>controller.GerenciarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenu</servlet-name>
        <servlet-class>controller.GerenciarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarUsuario</servlet-name>
        <servlet-class>controller.GerenciarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <servlet-class>controller.GerenciarMenuPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarProduto</servlet-name>
        <servlet-class>controller.GerenciarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarServico</servlet-name>
        <servlet-class>controller.GerenciarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarFuncionario</servlet-name>
        <servlet-class>controller.GerenciarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarCliente</servlet-name>
        <servlet-class>controller.GerenciarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarAgendamento</servlet-name>
        <servlet-class>controller.GerenciarAgendamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarServicoProduto</servlet-name>
        <servlet-class>controller.GerenciarServicoProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarLogin</servlet-name>
        <servlet-class>controller.GerenciarLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GerenciarPerfil</servlet-name>
        <url-pattern>/gerenciar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenu</servlet-name>
        <url-pattern>/gerenciar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarUsuario</servlet-name>
        <url-pattern>/gerenciar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <url-pattern>/gerenciar_menu_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarProduto</servlet-name>
        <url-pattern>/gerenciar_produto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarServico</servlet-name>
        <url-pattern>/gerenciar_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarFuncionario</servlet-name>
        <url-pattern>/gerenciar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarCliente</servlet-name>
        <url-pattern>/gerenciar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarAgendamento</servlet-name>
        <url-pattern>/gerenciar_agendamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarServicoProduto</servlet-name>
        <url-pattern>/gerenciar_servico_produto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarLogin</servlet-name>
        <url-pattern>/gerenciar_login.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
